---
http_interactions:
- request:
    method: post
    uri: https://mws.amazonservices.com/Sellers/2011-07-01
    body:
      encoding: UTF-8
      string: AWSAccessKeyId=AKIAJA3HRHJWHH2CEBAQ&Action=ListMarketplaceParticipations&SellerId=A1HRWKXDFQTX7Z&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2016-11-15T08%3A13%3A35Z&Version=2011-07-01&Signature=0PbBBEOF%2FGf5x4YkYQhM65DWyA2Y17lftIcLhgWoBtk%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml
      X-Amz-Date:
      - Tue, 15 Nov 2016 08:13:36 GMT
      X-Mws-Request-Id:
      - 27fa93bc-08b9-480b-9c4d-381ccfb943ee
      X-Mws-Timestamp:
      - '2016-11-15T08:13:36.161Z'
      X-Mws-Response-Context:
      - m0djH4yrdzifhFe4As+sLREj1z0akCsSvLFfPjr8ar6fSVUIoxNzXliopFZNWhmCfnP9HFkewS7S
        rl5I8vN/AQ==
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <ListMarketplaceParticipationsResponse xmlns="https://mws.amazonservices.com/Sellers/2011-07-01">
          <ListMarketplaceParticipationsResult>
            <ListParticipations>
              <Participation>
                <MarketplaceId>A2ZV50J4W1RKNI</MarketplaceId>
                <SellerId>A1HRWKXDFQTX7Z</SellerId>
                <HasSellerSuspendedListings>No</HasSellerSuspendedListings>
              </Participation>
              <Participation>
                <MarketplaceId>AHRY1CZE9ZY4H</MarketplaceId>
                <SellerId>A1HRWKXDFQTX7Z</SellerId>
                <HasSellerSuspendedListings>No</HasSellerSuspendedListings>
              </Participation>
              <Participation>
                <MarketplaceId>ATVPDKIKX0DER</MarketplaceId>
                <SellerId>A1HRWKXDFQTX7Z</SellerId>
                <HasSellerSuspendedListings>No</HasSellerSuspendedListings>
              </Participation>
            </ListParticipations>
            <ListMarketplaces>
              <Marketplace>
                <MarketplaceId>A2ZV50J4W1RKNI</MarketplaceId>
                <DefaultCountryCode>US</DefaultCountryCode>
                <DomainName>sim1.stores.amazon.com</DomainName>
                <Name>Non-Amazon</Name>
                <DefaultCurrencyCode>USD</DefaultCurrencyCode>
                <DefaultLanguageCode>en_US</DefaultLanguageCode>
              </Marketplace>
              <Marketplace>
                <MarketplaceId>AHRY1CZE9ZY4H</MarketplaceId>
                <DefaultCountryCode>US</DefaultCountryCode>
                <DomainName>invoicing-shadow-marketplace.amazon.com</DomainName>
                <Name>Amazon.com Invoicing Shadow Marketplace</Name>
                <DefaultCurrencyCode>USD</DefaultCurrencyCode>
                <DefaultLanguageCode>en_US</DefaultLanguageCode>
              </Marketplace>
              <Marketplace>
                <MarketplaceId>ATVPDKIKX0DER</MarketplaceId>
                <DefaultCountryCode>US</DefaultCountryCode>
                <DomainName>www.amazon.com</DomainName>
                <Name>Amazon.com</Name>
                <DefaultCurrencyCode>USD</DefaultCurrencyCode>
                <DefaultLanguageCode>en_US</DefaultLanguageCode>
              </Marketplace>
            </ListMarketplaces>
          </ListMarketplaceParticipationsResult>
          <ResponseMetadata>
            <RequestId>27fa93bc-08b9-480b-9c4d-381ccfb943ee</RequestId>
          </ResponseMetadata>
        </ListMarketplaceParticipationsResponse>
  recorded_at: Tue, 15 Nov 2016 08:13:36 GMT
[...]
